/*Fonts*/

@font-face {
  font-family: 'signerica_thinregular';
  src: url('../assets/fonts/signerica_thin-webfont.eot');
  src: url('../assets/fonts/signerica_thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/signerica_thin-webfont.woff2') format('woff2'),
       url('../assets/fonts/signerica_thin-webfont.woff') format('woff'),
       url('../assets/fonts/signerica_thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*General*/

:root {
  --color-primary: #a7714f;
  --color-secondary: #18555a;
  --color-background: #f9f5f6;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  background-position-y: 55%;
  background-repeat: no-repeat;
  font-family: 'Playfair Display', 'Times New Roman', Helvetica, sans-serif !important;
  text-align: justify;
}

button {
  border: none;
  background: none;
}

button:focus {
  outline: none !important;
}

/*Content*/

#content {
  flex: 1;
}

.home,
.menu,
.contact,
.reservation {
  background: rgba(255, 241, 227, 0.85);
}

.home p {
  text-indent: 1.25rem;
}

.reservation input,
.reservation textarea {
  margin-bottom: 1rem;
  background: rgb(250, 246, 246);
  border: 1px solid rgb(53, 53, 53);
}

.reservation input:focus,
.reservation textarea.focus {
  border: 1px solid var(--color-primary);
  outline: none;
}

.reservation label {
  margin-bottom: 0;
}


/*Header and Footer*/

header,
footer {
  background: rgba(255, 241, 227, 0.85);
}